<ion-header class="ion-no-border">
  <a href=""><img src="./assets/back.png" alt=""></a>
</ion-header>
<ion-content>
  <br>
  <h2 style="opacity: 0.8;">Settings</h2>
  <p>You are not a subscriber</p>
  <button>See Options</button>
  <ion-card class="card">
    <div class="hero">
      <img src="./assets/hero.png" alt="">
    </div>
  </ion-card>
  <br>
  <h2 style="opacity: 0.8;">My Newsletters</h2>
  <button class="show">Show catalogue</button>
  <div class="konten1">
    <h2>Breaking News Alerts</h2>
    <a href=""><img src="./assets/close.png" alt=""></a>
    <p>Stay Informed as soon as important news breaks around the world</p>
  </div>
  <div class="konten2">
    <h2>Breaking News Alerts</h2>
    <a href=""><img src="./assets/close.png" alt=""></a>
    <p>Stay Informed as soon as important news breaks around the world</p>
  </div>
  <div class="konten3">
    <h2>Breaking News Alerts</h2>
    <a href=""><img src="./assets/close.png" alt=""></a>
    <p>Stay Informed as soon as important news breaks around the world</p>
  </div>


</ion-content>
