<ion-header class="ion-no-border">
  <div class="hero">
    <img src="https://c4.wallpaperflare.com/wallpaper/105/1007/714/america-donald-man-men-wallpaper-preview.jpg" alt="">
  </div>
  <a href=""><img src="./assets/white-back.png" alt=""></a>
  <div class="tag">
    <img src="/assets/tag.png" class="tag" alt="">
  </div>
  <div class="teks">
    <p style="opacity: 0.7;">Sept 26, 2019 <strong style="font-weight: 900;">.</strong> 1:41 PM</p>
    <h3>Egypt: Protests to mark 2011 uprising anniversary turn deadly</h3>
    <div class="user">
      <img src="https://i.pinimg.com/236x/2f/8e/61/2f8e611c5ded146c4edc31475d304afe.jpg" alt="">
      <h3>Agus Kusuma Jiyi</h3>
      <p>Washington burau's correspondent</p>
    </div>
  </div>
  <div class="card">
    <div class="social">
      <img src="./assets/fb.png" alt="">
      <img src="./assets/tw.png" alt="">
      <img src="./assets/mail.png" alt="">
      <img src="./assets/share.png" alt="">
    </div>
    <button class="show">1757 Comments</button>
    <div class="isi">
        <p>
          <span style="font-family: 'Times New Roman', Times, serif;">WASHINGTON —</span> After hearing that President Trump tried pesuade Ukraine to investigate a 2020 campaign rival, senior official
          at the White House scrambled to "lock down" records of the call, a whistle-blowe alleged in an explosive <br>
          In an attempt to "lock down" all records of the call, in particular its "official word-for-word transcript,"
          White House lawyers told officials to move the transcript into a separate system reserved for classified
          information that is. <br>
          White House lawyers told officials to move the transcript into a separate system reserved for classified
          information that is After hearing that President Trump tried pesuade Ukraine to investigate a 2020 campaign rival, senior official
          at the White House scrambled to "lock down" records of the call,
          <br>
          In an attempt to "lock down" all records of the call, in particular its "official word-for-word transcript,"
          White House lawyers told officials to move the transcript into a separate system reserved for classified <br>
          White House lawyers told officials to move the transcript into a separate system reserved for classified
          information that is After hearing that President Trump tried pesuade Ukraine to investigate a 2020 campaign rival, senior official
          at the White House scrambled to "lock down" records of the call,<br>
          In an attempt to "lock down" all records of the call, in particular its "official word-for-word transcript,"
          White House lawyers told officials to move the transcript into a separate system reserved for classified
          information that <br> 
          White House lawyers told officials to move the transcript into a separate system reserved for classified
          information that is After hearing that President Trump tried pesuade Ukraine to investigate a 2020 campaign rival, senior official
          at the White House scrambled to "lock down" records of the call,
        </p>
    </div><br>
  </div>
</ion-header>